
# dependencies
/node_modules
node_modules/

# IDEs and editors
/.idea
.idea/
.project
.project/
.classpath
.classpath/
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#aws iot connect device packages
Tessel2-Boba.cert.pem
Tessel2-Boba.private.key
Tessel2-Boba.public.key

# System Files
.DS_Store
Thumbs.db
